Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      # lint
      - id: ruff
        types_or: [ python ]
        language: python
      # format
      - id: ruff-format
        types_or: [ python ]

  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty@latest check yapit/gateway/
        language: system
        files: ^yapit/gateway/
        types_or: [python]
        pass_filenames: false
      - id: frontend-build
        name: frontend build
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

remove redundant + button from sidebar — logo already navigates home
  frontend/src/components/documentSidebar.tsx
Due: frontend-build

fix: render preamble content before first heading in section view
  frontend/src/lib/filterVisibleBlocks.ts
Due: frontend-build

fix: improve website extraction — layout table fix, .md source detection, HTML img conversion
  yapit/gateway/document/http.py
  yapit/gateway/document/website.py
Due: ty-check

refactor: decouple DB sessions from long-running I/O, pipeline Redis eviction
  tests/yapit/gateway/api/conftest.py
  tests/yapit/gateway/api/test_billing_sync.py
  tests/yapit/gateway/document/test_processing.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/billing_sync.py
  yapit/gateway/db.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/http.py
  yapit/gateway/document/markxiv.py
  yapit/gateway/document/processing.py
  yapit/gateway/logging_config.py
  yapit/gateway/warm_cache.py
  yapit/stubs/redis/asyncio/client.pyi
Due: ty-check

fix: review hardening — billing sync race, init_db guard, batch commit, ASGI types
  yapit/gateway/billing_sync.py
  yapit/gateway/db.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/processing.py
  yapit/gateway/logging_config.py
Due: ty-check

fix: update filterVisibleBlocks tests for preamble rendering
  frontend/src/lib/filterVisibleBlocks.test.ts
Due: frontend-build

stripe: add network retries and relax billing sync interval
  yapit/gateway/api/v1/users.py
  yapit/gateway/billing_sync.py
  yapit/gateway/deps.py
Due: ty-check

fix: let → const in anonymousId.ts
  frontend/src/lib/anonymousId.ts
Due: frontend-build

refactor: eliminate Settings threading through document processing pipeline
  experiments/block_splitter_benchmark.py
  experiments/block_viz_server.py
  scripts/dev/visualize_parsed_document.py
  tests/yapit/gateway/api/conftest.py
  tests/yapit/gateway/markdown/test_ast_chunks.py
  tests/yapit/gateway/markdown/test_parser_v2.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/billing_sync.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/processing.py
  yapit/gateway/markdown/__init__.py
  yapit/gateway/markdown/transformer.py
  yapit/gateway/overflow_scanner.py
Due: ty-check

inworld voices disappear without notice
  yapit/data/inworld/voices.json
Due: none

fix: auto-sync Inworld voices on startup, restore removed voices
  yapit/data/inworld/voices.json
  yapit/gateway/db.py
  yapit/gateway/seed.py
Due: ty-check

move deploy from CI to local via Tailscale SSH
  .github/workflows/deploy.yml
  Makefile
  agent/tasks/2026-02-08-tailscale-only-ssh-manual-deploy.md
  scripts/deploy.sh
Due: none

add deploy ntfy
  .env.sops
Due: none

perf: cache deriveBlockStates, fix filterVisibleBlocks O(n*m)
  frontend/src/hooks/useFilteredPlayback.ts
  frontend/src/lib/filterVisibleBlocks.ts
  frontend/src/lib/perfMonitor.ts
  frontend/src/lib/playbackEngine.ts
Due: frontend-build

perf: decouple StructuredDocumentView from cursor changes
  frontend/src/components/structuredDocument.tsx
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

refactor: eliminate Block table, derive audio data from structured_content
  frontend/src/hooks/useFilteredPlayback.ts
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/sectionIndex.ts
  scripts/document_storage.py
  tests/yapit/gateway/api/test_users.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/processing.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/3b79fd79f78d_add_audio_characters_to_document.py
  yapit/gateway/warm_cache.py
Due: ty-check, frontend-build

fix: make ruff pre-commit hooks check-only
  .pre-commit-config.yaml
Due: none

perf: split PlaybackPage into static shell + PlaybackOverlay
  agent/tasks/frontend-performance-tracking.md
  frontend/src/components/playbackOverlay.tsx
  frontend/src/hooks/usePlaybackEngine.ts
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

update abt pg
  frontend/src/pages/AboutPage.tsx
Due: frontend-build

security: fix XSS vector, remove dead code, harden image referrer policy
  Makefile
  docker-compose.kokoro-gpu.yml
  frontend/src/components/inlineContent.tsx
  frontend/src/components/structuredDocument.tsx
  yapit/workers/adapters/higgs_audio_v2_native.py
Due: frontend-build

security: cap WebSocket block_indices and fix rate limit to count blocks
  yapit/contracts.py
  yapit/gateway/api/v1/ws.py
Due: ty-check

update script
  scripts/margin_calculator.py
Due: none

migrate: drop block table
  yapit/gateway/migrations/versions/a5b9e7f3d359_drop_block_table.py
Due: ty-check

security: close public SSH, deploy via Tailscale only
  .gitignore
  scripts/deploy.sh
  scripts/sync-cf-firewall.sh
Due: none

remove html field and caption from transformer and models
  frontend/src/components/structuredDocument.tsx
  frontend/src/lib/filterVisibleBlocks.test.ts
  frontend/src/lib/sectionIndex.ts
  tests/yapit/gateway/markdown/conftest.py
  tests/yapit/gateway/markdown/test_ast_chunks.py
  tests/yapit/gateway/markdown/test_parser_v2.py
  yapit/gateway/markdown/models.py
  yapit/gateway/markdown/transformer.py
Due: ty-check, frontend-build

reduce Playwright concurrent render cap from 100 to 50
  yapit/gateway/document/playwright_renderer.py
Due: ty-check

refactor: load VPS_HOST from .env, remove hardcoded fallbacks
  Makefile
  scripts/deploy.sh
  scripts/document_storage.py
Due: none

security: audit v2 remaining fixes
  agent/tasks/2026-02-25-red-team-security-audit-v2.md
  frontend/.env.production
  frontend/src/hooks/useWS.ts
  yapit/gateway/api/v1/users.py
  yapit/gateway/deps.py
  yapit/gateway/result_consumer.py
  yapit/workers/tts_loop.py
Due: ty-check, frontend-build

add CDN cache header for audio, add security.txt
  frontend/nginx.conf
  yapit/gateway/api/v1/audio.py
Due: ty-check

fix sitemap namespace and add missing /subscription route [skip tests]
  frontend/public/sitemap.xml
Due: none

sort document sidebar by last played, not creation date
  yapit/gateway/api/v1/documents.py
Due: ty-check

remove WebGPU warning banner, improve showcase UX
  frontend/src/components/gettingStarted.tsx
  frontend/src/components/webGPUWarningBanner.tsx
  frontend/src/config/showcase.ts
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

update .env.sops
  .env.sops
Due: none

update scripts
  scripts/prompt_eval/web_corpus.toml
  scripts/seed_perf_fixtures.py
  scripts/stress_test_yolo.py
Due: none

updaete makefile
  Makefile
Due: none

add route-level code splitting with lazy loading
  frontend/src/components/ChunkErrorBoundary.tsx
  frontend/src/components/structuredDocument.tsx
  frontend/src/main.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-build

update stubs
  yapit/stubs/redis/asyncio/client.pyi
Due: none

upgrade Stack Auth server (3ef9cb3→53c1c9e) and SDK (2.8.11→2.8.71)
  .env.dev
  .env.prod
  .env.selfhost.example
  .env.template
  docker-compose.prod.yml
  docker-compose.selfhost.yml
  docker-compose.yml
  docker/Dockerfile.stackauth
  frontend/package-lock.json
  frontend/package.json
Due: none

collapse voice list on account page, fix sidebar after bulk delete
  frontend/src/components/documentSidebar.tsx
  frontend/src/pages/AccountPage.tsx
Due: frontend-build

skip Stack Auth seed script in prod to unblock upgrade
  .env.prod
Due: none
