Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      # lint
      - id: ruff
        types_or: [ python ]
        language: python
      # format
      - id: ruff-format
        types_or: [ python ]

  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty@latest check yapit/gateway/
        language: system
        files: ^yapit/gateway/
        types_or: [python]
        pass_filenames: false
      - id: frontend-build
        name: frontend build
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

fix: reduce static fetch timeout and use domcontentloaded for Playwright
  docker/defuddle/app.js
Due: none

fix: shared httpx client for Stack Auth with retry on transient failures
  yapit/gateway/__init__.py
  yapit/gateway/auth.py
  yapit/gateway/document/defuddle_client.py
  yapit/gateway/seed.py
  yapit/gateway/stack_auth/__init__.py
  yapit/gateway/stack_auth/users.py
Due: ty-check

update prompts
  .claude/skills/defuddle-investigation/SKILL.md
  agent/knowledge/ci.md
  agent/knowledge/document-processing.md
  scripts/report.sh
Due: none

bump defuddle 0.16.0 → 0.17.0
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

fix Voice plan features, add test price IDs, update privacy date
  .env.dev
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/pages/SubscriptionPage.tsx
  scripts/stripe_setup.py
Due: frontend-build

fix(report.sh): put role in --system-prompt, data in user message
  scripts/report.sh
Due: none

bump defuddle 0.17.0 → 0.18.1
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

fix(epub): Springer academic citations + Obsidian footnote separation
  tests/yapit/gateway/document/test_epub_footnotes.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

fix(frontend): paginate document sidebar (infinite scroll)
  frontend/src/components/documentSidebar.tsx
  frontend/src/hooks/useDocuments.tsx
Due: frontend-build

fix(frontend): paginate document sidebar (infinite scroll) (#84)
  frontend/src/components/documentSidebar.tsx
  frontend/src/hooks/useDocuments.tsx
Due: frontend-build

feat(documents): support per-request extraction_prompt
  tests/yapit/gateway/api/test_documents.py
  yapit/contracts.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/users.py
Due: ty-check

fix(documents): include prompt_hash in extraction status polling
  frontend/src/components/unifiedInput.tsx
  yapit/gateway/api/v1/documents.py
Due: ty-check, frontend-build

fix(epub): strip entire Springer Bibliography, not just first entry
  tests/yapit/gateway/document/test_epub_footnotes.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

bump defuddle 0.17.0 → 0.18.1 (#83)
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

fix(epub): Springer academic citations + Obsidian footnote separation (#85)
  tests/yapit/gateway/document/test_epub_footnotes.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

feat(deploy): fan out to external workers via WORKER_HOSTS
  scripts/deploy.sh
Due: none

fix(documents): salt /prepare uncached_pages by extraction_prompt
  frontend/src/components/unifiedInput.tsx
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/api/v1/documents.py
Due: ty-check, frontend-build

feat(documents): per-request extraction_prompt + correct progress polling (#86)
  frontend/src/components/unifiedInput.tsx
  tests/yapit/gateway/api/test_documents.py
  yapit/contracts.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/users.py
Due: ty-check, frontend-build

fix(markdown): preserve inter-chunk whitespace in sliced AST
  tests/yapit/gateway/markdown/test_ast_chunks.py
  yapit/gateway/markdown/transformer.py
Due: ty-check

bump defuddle 0.18.1 → 0.19.0
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

chore(defuddle): bump undici 7.24.1 → 7.28.0
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

bump defuddle 0.19.0 → 0.19.1
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

fix(billing): find anonymized subscriptions by sub id in webhook handlers
  agent/knowledge/stripe-integration.md
  tests/yapit/gateway/api/test_billing_webhook.py
  yapit/gateway/api/v1/billing.py
Due: ty-check

feat(frontend): set browser tab title to document title on playback page
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

chore(frontend): bump axios 1.13.5 → 1.18.0
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: pin ruff-action to v4.1.0 — upstream has no floating v4 tag
  .github/workflows/deploy.yml
Due: none

chore(deps): drop requests as direct dependency
  pyproject.toml
  scripts/create_user.py
  tests/integration/conftest.py
  uv.lock
Due: none

Release v0.3.2
  CHANGELOG.md
Due: none

fix(gateway): self-heal missing billing consumer group, back off on repeat errors
  tests/yapit/gateway/api/test_billing_consumer.py
  tests/yapit/gateway/test_backoff.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/backoff.py
  yapit/gateway/billing_consumer.py
  yapit/gateway/cache_persister.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/result_consumer.py
  yapit/gateway/visibility_scanner.py
Due: ty-check

fix(docker): persist redis, pin its digest
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(report): retry transient analysis failures, page when the report can't run
  scripts/report.sh
Due: none

feat(api): expose created on GET /documents/{id}
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/api/v1/documents.py
Due: ty-check

style: drop incident narration from comments
  docker-compose.prod.yml
  scripts/report.sh
  tests/yapit/gateway/api/test_billing_consumer.py
  yapit/gateway/__init__.py
  yapit/gateway/backoff.py
  yapit/gateway/billing_consumer.py
Due: ty-check

test: drop redundant created assertions, keep the tz-awareness one
  tests/yapit/gateway/api/test_documents.py
Due: none

refactor: one definition of the backoff schedule
  tests/yapit/gateway/test_backoff.py
  yapit/gateway/backoff.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
  yapit/gateway/visibility_scanner.py
  yapit/workers/adapters/openai_tts.py
Due: ty-check

fix: close supervision gaps and cap pubsub backoff
  docker-compose.prod.yml
  docker-compose.selfhost.yml
  docker-compose.yml
  scripts/report.sh
  tests/yapit/gateway/test_backoff.py
  tests/yapit/gateway/test_supervision.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/backoff.py
  yapit/gateway/billing_consumer.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/supervision.py
  yapit/workers/tts_loop.py
Due: ty-check

refactor: put each module in the package for the image it runs on
  .github/workflows/deploy.yml
  agent/knowledge/tts-flow.md
  yapit/gateway/__init__.py
  yapit/gateway/api_tts_dispatcher.py
  yapit/gateway/document/yolo_client.py
  yapit/gateway/openai_tts_adapter.py
  yapit/gateway/synthesis.py
  yapit/gateway/visibility_scanner.py
  yapit/queue.py
  yapit/synth.py
  yapit/workers/adapters/__init__.py
  yapit/workers/adapters/base.py
  yapit/workers/kokoro/__main__.py
  yapit/workers/kokoro/adapter.py
  yapit/workers/tts_loop.py
  yapit/workers/yolo/__main__.py
Due: ty-check

fix: escalate backoff on work failure, not just read failure
  .pre-commit-config.yaml
  Makefile
  tests/yapit/gateway/api/test_billing_consumer.py
  tests/yapit/gateway/test_supervisor_backoff.py
  yapit/gateway/api_tts_dispatcher.py
  yapit/gateway/backoff.py
  yapit/gateway/billing_consumer.py
  yapit/gateway/cache_persister.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/result_consumer.py
  yapit/gateway/visibility_scanner.py
  yapit/synth.py
Due: ty-check

fix: supervise the cache LRU loop, dedupe API retry policy, keep all stderr
  scripts/report.sh
  tests/yapit/gateway/document/test_gemini_processor.py
  yapit/gateway/backoff.py
  yapit/gateway/cache.py
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
  yapit/gateway/openai_tts_adapter.py
Due: ty-check
