Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      # lint
      - id: ruff
        types_or: [ python ]
        language: python
      # format
      - id: ruff-format
        types_or: [ python ]

  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty@latest check yapit/gateway/
        language: system
        files: ^yapit/gateway/
        types_or: [python]
        pass_filenames: false
      - id: frontend-build
        name: frontend build
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

fix: use defuddle title for website documents instead of raw HTML title
  frontend/src/components/structuredDocument.tsx
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/website.py
Due: ty-check, frontend-build

cleanup
  CLAUDE.md
  Makefile
  docs/project-description.md
  frontend/src/pages/TipsPage.tsx
  uv.lock
Due: frontend-build

feat: add Cmd+K command palette for document search and navigation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/commandPalette.tsx
  frontend/src/components/documentSidebar.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/hooks/useDocuments.tsx
  frontend/src/layouts/SidebarLayout.tsx
  frontend/src/pages/PlaybackPage.tsx
  frontend/src/pages/TipsPage.tsx
Due: frontend-build

fix: command palette selecting all docs with duplicate titles
  frontend/src/components/commandPalette.tsx
Due: frontend-build

fix: deploy health check retries and log failures to .deploys.log
  scripts/deploy.sh
Due: none

feat: dependency updates + dep-scout automation
  docker/defuddle/pyproject.toml
  pyproject.toml
  scripts/dep-scout.sh
  uv.lock
  yapit/gateway/__init__.py
  yapit/workers/kokoro/pyproject.cpu.toml
  yapit/workers/kokoro/pyproject.gpu.toml
  yapit/workers/yolo/pyproject.cpu.toml
  yapit/workers/yolo/pyproject.gpu.toml
Due: ty-check

fix: defer portal downgrades to period end, remove grace period logic
  agent/tasks/2026-03-09-downgrade-proration-fix.md
  frontend/src/pages/SubscriptionPage.tsx
  scripts/stripe_inspect.py
  scripts/stripe_setup.py
  tests/yapit/gateway/api/test_billing_handlers_matrix.py
  tests/yapit/gateway/api/test_billing_sync.py
  tests/yapit/gateway/api/test_billing_webhook.py
  tests/yapit/gateway/api/test_users_subscription_summary.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/billing_ops.py
  yapit/gateway/billing_sync.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/85cb6dda7bc0_add_plan_id_to_usageperiod.py
  yapit/gateway/usage.py
Due: ty-check, frontend-build

fix: always set plan_id on usage period creation, cleanup
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/usage.py
Due: ty-check

fix: remove currentBlockRef bridge, read engine snapshot directly
  frontend/src/components/playbackOverlay.tsx
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

chore: bump defuddle 0.10.0 → 0.12.0, document update process
  CLAUDE.md
  agent/knowledge/dependency-updates.md
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

docs: update task files
  agent/knowledge/stripe-integration.md
  agent/tasks/2026-01-18-inworld-temperature-setting.md
  agent/tasks/2026-02-02-postgres-volume-migration.md
  agent/tasks/2026-02-10-dynamic-model-picker.md
  agent/tasks/2026-02-11-overflow-tuning-jemalloc-worker-memory.md
  agent/tasks/2026-02-12-pymupdf-free-extraction-quality.md
  agent/tasks/2026-02-17-twitter-tweet-extraction.md
  agent/tasks/2026-02-21-docker-network-segmentation.md
  agent/tasks/2026-02-26-frontend-perf-infra.md
  agent/tasks/2026-03-05-defuddle-website-extraction.md
  agent/tasks/2026-03-06-defuddle-arxiv-quality.md
  agent/tasks/2026-03-07-chromium-sandbox-hardening.md
  agent/tasks/2026-03-09-downgrade-proration-fix.md
  agent/tasks/background-audio-mobile.md
  agent/tasks/maintenance-page.md
  agent/tasks/stress-testing.md
Due: none

feat: show footnote content on hover over references
  frontend/src/components/footnoteContext.ts
  frontend/src/components/inlineContent.tsx
  frontend/src/components/structuredDocument.tsx
  frontend/src/components/ui/hover-card.tsx
Due: frontend-build

fix: sort footnotes numerically, find refs inside tables
  yapit/gateway/markdown/transformer.py
Due: ty-check

fix: use Stripe's canceled_at timestamp, log non-cycle invoice skips
  yapit/gateway/api/v1/billing.py
Due: ty-check

fix: use contentEditable for title editing to prevent layout shift
  frontend/src/components/structuredDocument.tsx
Due: frontend-build

fix: add react-hover-card as explicit dep (was only transitive via stack-ui)
  frontend/package-lock.json
  frontend/package.json
Due: none

add .claude
  .claude/settings.json
  .claude/skills/defuddle-investigation/SKILL.md
  .claude/skills/defuddle-investigation/scripts/check_hidden.js
  .gitignore
Due: none

update report agent prompt
  scripts/report.sh
Due: none

fix: Chrome mobile viewport expansion from wide tables
  frontend/src/components/structuredDocument.tsx
  frontend/src/index.css
Due: frontend-build

fix: prevent Chrome mobile zoom-out on wide tables
  frontend/index.html
  frontend/src/components/structuredDocument.tsx
Due: frontend-build

upgrade defuddle 0.12.0 → 0.13.0
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

update .claude
  .claude/skills/defuddle-investigation/SKILL.md
Due: none

fix: suppress keyboard shortcuts when editing contentEditable elements
  frontend/src/components/ui/sidebar.tsx
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

rewrite defuddle container: static-first extraction with Playwright fallback
  .claude/skills/defuddle-investigation/SKILL.md
  agent/knowledge/dependency-updates.md
  agent/knowledge/document-processing.md
  docker-compose.prod.yml
  docker-compose.yml
  docker/defuddle/Dockerfile
  docker/defuddle/app.js
  docker/defuddle/app.py
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
  docker/defuddle/pyproject.toml
  docs/architecture.md
  scripts/prompt_eval/web_corpus.toml
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/defuddle_client.py
  yapit/gateway/document/playwright_renderer.py
  yapit/gateway/document/website.py
Due: ty-check

fix: arXiv HTML fallback regression and restore error logging
  docker/defuddle/app.js
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/defuddle_client.py
Due: ty-check

fix: prevent batch job orphaning during deploys
  docker-compose.prod.yml
  yapit/gateway/document/batch.py
  yapit/gateway/document/batch_poller.py
Due: ty-check

use compact embeds for shared listen pages [skip tests]
  yapit/gateway/api/v1/documents.py
Due: ty-check

update README.md
  README.md
Due: none

log Gemini finish_reason and warn on empty extraction output
  yapit/gateway/document/processors/gemini.py
Due: ty-check

update gitignore
  .gitignore
Due: none

fix: add candidates mock to Gemini retry tests
  tests/yapit/gateway/document/test_gemini_processor.py
Due: none

fix: clear stale voice quota banner on play
  frontend/src/lib/browserSynthesizer.ts
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/serverSynthesizer.ts
  frontend/src/lib/synthesizer.ts
Due: frontend-build

disable safety filters and surface blocked pages to users
  yapit/gateway/document/processors/gemini.py
Due: ty-check

add markdown export endpoints (/md and /md-annotated)
  README.md
  frontend/nginx.conf
  frontend/src/pages/TipsPage.tsx
  yapit/gateway/api/v1/documents.py
Due: ty-check, frontend-build

fix: ASCII-safe Content-Disposition in /md endpoints
  yapit/gateway/api/v1/documents.py
Due: ty-check

refactor: /md endpoints use optional auth instead of route shadowing
  yapit/gateway/api/v1/documents.py
  yapit/gateway/auth.py
  yapit/gateway/deps.py
Due: ty-check

fetch arxiv paper titles from the arxiv Atom API
  yapit/gateway/api/v1/documents.py
Due: ty-check

fix arxiv HTML image URLs, add CLI link to README
  README.md
  yapit/gateway/api/v1/documents.py
Due: ty-check

fix: log client API errors (4xx) as warning, not error
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/documents.py
Due: ty-check

refactor: unified document endpoints with optional auth
  frontend/src/pages/PlaybackPage.tsx
  tests/yapit/gateway/api/conftest.py
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/api/v1/documents.py
Due: ty-check, frontend-build
