Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type check
  entry: uvx ty@latest check yapit/gateway/
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

refactor: overhaul metrics dashboard
  dashboard/__init__.py
  dashboard/components.py
  dashboard/data.py
  dashboard/tabs/__init__.py
  dashboard/tabs/detection.py
  dashboard/tabs/documents.py
  dashboard/tabs/extraction.py
  dashboard/tabs/overflow.py
  dashboard/tabs/overview.py
  dashboard/tabs/reliability.py
  dashboard/tabs/tts.py
  dashboard/tabs/usage.py
  dashboard/theme.py
  docker/metrics-migrations/002_add_token_sums_to_aggregates.sql
Due: none

fix: scroll to hash anchor on playback page load [skip tests]
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

feat: add EPUB document support via pandoc
  tests/fixtures/documents/test.epub
  tests/yapit/gateway/document/test_epub_processor.py
  yapit/gateway/Dockerfile
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/http.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

fix: clean EPUB-specific HTML cruft from pandoc output
  tests/yapit/gateway/document/test_epub_processor.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

feat: unified document extraction metrics
  agent/knowledge/metrics.md
  dashboard/tabs/documents.py
  docker/metrics-migrations/003_add_processor_slug_duration_to_aggregates.sql
  scripts/report.sh
  tests/yapit/gateway/document/test_epub_processor.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/defuddle_client.py
  yapit/gateway/document/processors/epub.py
  yapit/gateway/document/website.py
Due: ty-check

feat: convert EPUB footnotes to markdown [^N] syntax
  agent/knowledge/pandoc-epub-footnotes-bug.md
  tests/yapit/gateway/document/test_epub_footnotes.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

fix: handle three EPUB footnote patterns + code review fixes
  tests/yapit/gateway/document/test_epub_footnotes.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

update claude
  .mcp.json
  CLAUDE.md
Due: none

add task
  agent/tasks/2026-03-20-openai-compatible-extraction.md
Due: none

fix: deduplicate cover images, strip dingbats and TOC section
  yapit/gateway/document/processors/epub.py
Due: ty-check

fix: restrict image dedup to front matter only
  yapit/gateway/document/processors/epub.py
Due: ty-check

chore: add backlog task for <sub>/<sup> AST support
  agent/tasks/2026-03-20-sub-sup-ast-support.md
Due: none

docs: update document-processing knowledge with EPUB support
  agent/knowledge/document-processing.md
  agent/knowledge/metrics.md
Due: none

fix: restore estimate vs actual chart, add daily extraction trends
  dashboard/tabs/documents.py
  dashboard/tabs/overview.py
Due: none

refactor: extract Extractor protocol, decouple batch, add OpenAI-compatible skeleton [skip tests]
  .env.selfhost.example
  pyproject.toml
  uv.lock
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/config.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/extraction.py
  yapit/gateway/document/processing.py
  yapit/gateway/document/processors/epub.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
  yapit/gateway/document/processors/pdf.py
Due: ty-check

refactor: restructure document/ modules by concern
  scripts/prompt_eval/run.py
  tests/yapit/gateway/document/test_batch_cache.py
  tests/yapit/gateway/document/test_deduplicate_footnotes.py
  tests/yapit/gateway/document/test_pdf_processor.py
  tests/yapit/gateway/document/test_processing.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/extraction.py
  yapit/gateway/document/figures.py
  yapit/gateway/document/orchestration.py
  yapit/gateway/document/pdf.py
  yapit/gateway/document/processors/epub.py
  yapit/gateway/document/processors/free_pdf.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
  yapit/gateway/document/types.py
Due: ty-check

refactor: extract VisionExtractor base class, fix conditional openai import
  tests/yapit/gateway/document/test_gemini_processor.py
  yapit/gateway/__init__.py
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
Due: ty-check

feat: map Obsidian/defuddle semantic callout types to color palette
  tests/yapit/gateway/markdown/test_parser_v2.py
  yapit/gateway/markdown/transformer.py
Due: ty-check

chore: bump defuddle 0.13.0 → 0.14.0
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

refactor: shared orchestration in VisionExtractor, implement OpenAI extraction
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
Due: ty-check

fix: update dashboard for renamed figure_count_mismatch metric field
  dashboard/tabs/documents.py
Due: none

test: add VisionExtractor base class tests
  tests/yapit/gateway/document/test_vision_extractor.py
Due: none

docs + fixes: OpenAI extraction docs, batch toggle, Dockerfile
  .env.selfhost.example
  README.md
  frontend/src/components/metadataBanner.tsx
  yapit/gateway/Dockerfile
Due: frontend-build

docs: update knowledge, task, README for OpenAI extraction
  agent/knowledge/document-processing.md
  agent/tasks/2026-03-20-openai-compatible-extraction.md
Due: none

fix: address PR review feedback
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
Due: ty-check

fix: use shared fallback token estimates for missing usage data
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
Due: ty-check

add openrouter key
  .env.sops
Due: none

Support OpenAI compatible models for MD extraction (#73)
  .env.selfhost.example
  .env.sops
  README.md
  agent/knowledge/document-processing.md
  agent/tasks/2026-03-20-openai-compatible-extraction.md
  dashboard/tabs/documents.py
  frontend/src/components/metadataBanner.tsx
  pyproject.toml
  scripts/prompt_eval/run.py
  tests/yapit/gateway/document/test_batch_cache.py
  tests/yapit/gateway/document/test_deduplicate_footnotes.py
  tests/yapit/gateway/document/test_gemini_processor.py
  tests/yapit/gateway/document/test_pdf_processor.py
  tests/yapit/gateway/document/test_processing.py
  tests/yapit/gateway/document/test_vision_extractor.py
  uv.lock
  yapit/gateway/Dockerfile
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/config.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/extraction.py
  yapit/gateway/document/figures.py
  yapit/gateway/document/orchestration.py
  yapit/gateway/document/pdf.py
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/epub.py
  yapit/gateway/document/processors/free_pdf.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
  yapit/gateway/document/types.py
Due: ty-check, frontend-build

feat: add guest/registered user filter to dashboard, guest user stats script
  dashboard/__init__.py
  dashboard/data.py
  scripts/guest_users.py
Due: none

feat: pre-computed billing reconciliation for report agent
  scripts/billing_reconciliation.py
  scripts/report.sh
Due: none

fix: security audit v3 — is_active regression, EPUB bomb protection, pages cap
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/document/processors/epub.py
Due: ty-check

feat: TTL cleanup for inactive guest users, extract shared delete_documents_with_images
  agent/knowledge/guest-users.md
  agent/knowledge/infrastructure.md
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/documents.py
Due: ty-check

fix: tighten rate limits, add monthly caps on document creation
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/users.py
Due: ty-check

test: add tests for delete_documents_with_images
  tests/yapit/gateway/api/test_delete_documents.py
Due: none

feat: OpenAI-compatible TTS adapter for self-hosters
  .env.selfhost.example
  CLAUDE.md
  agent/tasks/2026-03-22-openai-compatible-tts.md
  frontend/src/components/soundControl.tsx
  frontend/src/components/voicePicker.tsx
  frontend/src/hooks/useInworldVoices.ts
  frontend/src/hooks/usePremiumModel.ts
  frontend/src/lib/voiceSelection.ts
  pyproject.toml
  uv.lock
  yapit/gateway/Dockerfile
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/models.py
  yapit/gateway/config.py
  yapit/gateway/seed.py
  yapit/workers/adapters/openai_tts.py
Due: ty-check, frontend-build

fix: validate saved voice selection against available models
  frontend/src/components/voicePicker.tsx
Due: frontend-build

fix: address code review findings
  frontend/src/components/voicePicker.tsx
  frontend/src/hooks/usePremiumModel.ts
  frontend/src/lib/voiceSelection.ts
  yapit/gateway/seed.py
  yapit/workers/adapters/openai_tts.py
Due: ty-check, frontend-build

fix: deactivate stale voices instead of deleting (FK constraint)
  yapit/gateway/seed.py
Due: ty-check

docs: add OpenAI TTS self-hosting docs to README
  README.md
Due: none

update readme
  README.md
Due: none

Path conditions:
  ty-check: any of: ^yapit/gateway/ and \.py$
  frontend-build: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
