Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type check
  entry: uvx ty@latest check yapit/gateway/
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

fix: wire up showcase docs with real UUIDs and correct routes
  frontend/src/components/gettingStarted.tsx
  frontend/src/components/webGPUWarningBanner.tsx
  frontend/src/config/showcase.ts
Due: frontend-build

feat: showcase doc cache warming + tips page showcase section
  frontend/src/pages/TipsPage.tsx
  yapit/gateway/warm_cache.py
Due: ty-check, frontend-build

revert: remove ONEDNN_PRIMITIVE_CACHE_CAPACITY=16 from all workers
  docker-compose.prod.yml
  docker-compose.worker.yml
  docker-compose.yml
Due: none

fix: footnote deduplicator no longer breaks cross-page refs
  tests/yapit/gateway/document/test_deduplicate_footnotes.py
  yapit/gateway/document/extraction.py
Due: ty-check

feat: add --varied-lengths flag to stress test
  scripts/stress_test.py
Due: none

remove dead DocumentProcessor table and Mistral OCR references
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/domain_models.py
  yapit/gateway/seed.py
Due: ty-check

fix: simplify WebGPU banner wording, bump cache warm timeout to 6h
  frontend/src/components/webGPUWarningBanner.tsx
  scripts/warm_cache.service
Due: frontend-build

feat: remove MarkItDown, refactor document processing pipeline
  frontend/src/components/metadataBanner.tsx
  frontend/src/components/unifiedInput.tsx
  frontend/src/hooks/useSupportedFormats.ts
  frontend/src/pages/TipsPage.tsx
  pyproject.toml
  tests/yapit/gateway/api/test_documents.py
  tests/yapit/gateway/document/test_gemini_processor.py
  tests/yapit/gateway/document/test_markitdown_processor.py
  tests/yapit/gateway/document/test_pdf_processor.py
  tests/yapit/gateway/document/test_processing.py
  uv.lock
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/__init__.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/cache.py
  yapit/gateway/constants.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/markitdown.py
  yapit/gateway/document/processing.py
  yapit/gateway/document/processors/__init__.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/pdf.py
  yapit/gateway/document/website.py
Due: ty-check, frontend-build

fix: strip null bytes from PyMuPDF text extraction
  yapit/gateway/document/processors/pdf.py
Due: ty-check

feat: skip cached pages in batch extraction flow
  tests/yapit/gateway/document/test_batch_cache.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/batch.py
  yapit/gateway/document/batch_poller.py
Due: ty-check

refactor: code review cleanups for doc processing PR
  frontend/src/components/unifiedInput.tsx
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/website.py
Due: ty-check, frontend-build

feat: improve PyMuPDF extraction — filter rotated text, escape angle brackets
  yapit/gateway/document/processors/pdf.py
Due: ty-check

add PyMuPDF extraction quality eval harness
  experiments/pymupdf_eval/.gitignore
  experiments/pymupdf_eval/corpus.toml
  experiments/pymupdf_eval/run.py
Due: none

Remove MarkItDown, refactor document processing pipeline (#70)
  experiments/pymupdf_eval/.gitignore
  experiments/pymupdf_eval/corpus.toml
  experiments/pymupdf_eval/run.py
  frontend/src/components/metadataBanner.tsx
  frontend/src/components/unifiedInput.tsx
  frontend/src/hooks/useSupportedFormats.ts
  frontend/src/pages/TipsPage.tsx
  pyproject.toml
  scripts/warm_cache.service
  tests/yapit/gateway/api/test_documents.py
  tests/yapit/gateway/document/test_batch_cache.py
  tests/yapit/gateway/document/test_gemini_processor.py
  tests/yapit/gateway/document/test_markitdown_processor.py
  tests/yapit/gateway/document/test_pdf_processor.py
  tests/yapit/gateway/document/test_processing.py
  uv.lock
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/__init__.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/cache.py
  yapit/gateway/constants.py
  yapit/gateway/deps.py
  yapit/gateway/document/batch.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/document/markitdown.py
  yapit/gateway/document/processing.py
  yapit/gateway/document/processors/__init__.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/pdf.py
  yapit/gateway/document/website.py
Due: ty-check, frontend-build

fix: move cache warming into gateway process, fix SQLite contention
  scripts/warm_cache.service
  scripts/warm_cache.timer
  yapit/gateway/__init__.py
  yapit/gateway/markdown/transformer.py
  yapit/gateway/result_consumer.py
  yapit/gateway/warm_cache.py
Due: ty-check

fix: async I/O, race conditions, monitoring gaps, code cleanup
  Makefile
  scripts/report.sh
  tests/yapit/gateway/document/test_batch_cache.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/document/batch.py
  yapit/gateway/document/batch_poller.py
  yapit/gateway/domain_models.py
  yapit/gateway/logging_config.py
  yapit/gateway/migrations/versions/c822033c68ff_add_document_user_id_created_index.py
  yapit/gateway/overflow_scanner.py
  yapit/gateway/result_consumer.py
  yapit/gateway/stack_auth/users.py
  yapit/gateway/synthesis.py
  yapit/gateway/visibility_scanner.py
Due: ty-check

get rotated
  .env.sops
Due: none

fix: use system CA certs instead of certifi for HTTPS
  tests/integration/test_documents.py
  yapit/gateway/Dockerfile
Due: none

update dev key
  .env.sops
Due: none

fix: webhook handling bugs — stale subscription guard, period dates, canceled_at
  yapit/gateway/api/v1/billing.py
Due: ty-check

fix: scope invoice period update to full-cycle invoices only
  yapit/gateway/api/v1/billing.py
Due: ty-check

fix: block duplicate checkout for past_due/incomplete, validate origin
  yapit/gateway/api/v1/billing.py
Due: ty-check

feat: Stripe billing sync — background reconciliation + point-of-decision check
  scripts/report.sh
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/billing_sync.py
  yapit/gateway/domain_models.py
Due: ty-check

test: billing unit/API-integration test suite (70 tests)
  agent/tasks/2026-02-15-billing-unit-api-integration-tests.md
  tests/yapit/gateway/api/test_billing_endpoints.py
  tests/yapit/gateway/api/test_billing_handlers_matrix.py
  tests/yapit/gateway/api/test_billing_ordering.py
  tests/yapit/gateway/api/test_billing_webhook.py
  tests/yapit/gateway/api/test_usage.py
  tests/yapit/gateway/api/test_users_subscription_summary.py
Due: none

fix: rollover idempotency bug + sync_subscription tests
  tests/yapit/gateway/api/test_billing_sync.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/b80d57301967_add_last_rollover_invoice_id_to_.py
Due: ty-check

feat: structured logging — logger.bind() across all background tasks
  agent/knowledge/logging.md
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/logging_config.py
  yapit/gateway/overflow_scanner.py
  yapit/gateway/result_consumer.py
  yapit/gateway/synthesis.py
  yapit/gateway/usage.py
  yapit/gateway/visibility_scanner.py
  yapit/gateway/warm_cache.py
  yapit/workers/adapters/inworld.py
  yapit/workers/tts_loop.py
Due: ty-check

fix: strengthen billing test assertions (review fixes #2-#5)
  tests/yapit/gateway/api/test_billing_endpoints.py
  tests/yapit/gateway/api/test_billing_ordering.py
  tests/yapit/gateway/api/test_billing_webhook.py
  tests/yapit/gateway/api/test_usage.py
Due: none

fix: await async Stripe cancel in account deletion
  yapit/gateway/api/v1/users.py
Due: ty-check

fix: subscription_create invoice overwrites period dates with point-in-time
  tests/yapit/gateway/api/test_billing_webhook.py
  yapit/gateway/api/v1/billing.py
Due: ty-check

update agent setup
  .mcp.json
  CLAUDE.md
  agent/knowledge/overview.md
Due: none

distill: doc processing overhaul, billing hardening, playback resilience, self-hosting
  agent/knowledge/dependency-updates.md
  agent/knowledge/dev-setup.md
  agent/knowledge/document-processing.md
  agent/knowledge/features.md
  agent/knowledge/frontend.md
  agent/knowledge/infrastructure.md
  agent/knowledge/inworld-tts.md
  agent/knowledge/licensing.md
  agent/knowledge/logging.md
  agent/knowledge/metrics.md
  agent/knowledge/runpod.md
  agent/knowledge/security.md
  agent/knowledge/stripe-integration.md
  agent/knowledge/tts-flow.md
  agent/knowledge/vps-setup.md
  agent/tasks/2026-02-11-remove-markitdown-processor-refactor.md
  agent/tasks/self-hosting.md
Due: none

unlimited power
  Makefile
Due: none

refactor: extract progress bar hook, banner hook, document CSS
  frontend/src/components/soundControl.tsx
  frontend/src/components/structuredDocument.css
  frontend/src/components/structuredDocument.tsx
  frontend/src/hooks/useDismissableBanner.ts
  frontend/src/hooks/useProgressBarInteraction.ts
  frontend/src/index.css
Due: frontend-build

fix: clear stale synth errors on success, add error banner to playbar
  frontend/src/components/soundControl.tsx
  frontend/src/lib/browserSynthesizer.ts
  frontend/src/lib/serverSynthesizer.ts
Due: frontend-build

fix: decode HTML entities in website titles
  yapit/gateway/api/v1/documents.py
Due: ty-check

feat: update URL hash on outliner section navigation
  frontend/src/components/structuredDocument.tsx
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

fix: back-to-reading banner triggering on programmatic navigation
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

fix: suppress click after long press on mobile outliner
  frontend/src/components/documentOutliner.tsx
Due: frontend-build

Path conditions:
  ty-check: any of: ^yapit/gateway/ and \.py$
  frontend-build: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
