Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type check
  entry: uvx ty@latest check yapit/gateway/
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

add aria-label to file attach button for accessibility [skip tests]
  .env.sops
  .env.template
  frontend/src/components/unifiedInput.tsx
Due: frontend-build

add HSTS preload and COOP same-origin headers
  frontend/nginx.conf
Due: none

distill: block table removal, billing hardening, deploy via Tailscale, security v2
  CLAUDE.md
  agent/knowledge/auth.md
  agent/knowledge/ci.md
  agent/knowledge/dependency-updates.md
  agent/knowledge/document-processing.md
  agent/knowledge/features.md
  agent/knowledge/frontend-performance.md
  agent/knowledge/frontend.md
  agent/knowledge/infrastructure.md
  agent/knowledge/inworld-tts.md
  agent/knowledge/migrations.md
  agent/knowledge/security.md
  agent/knowledge/stack-auth-dev-setup.md
  agent/knowledge/stack-auth.md
  agent/knowledge/tts-flow.md
  agent/knowledge/vps-setup.md
  agent/tasks/2026-02-08-tailscale-only-ssh-manual-deploy.md
  agent/tasks/2026-02-11-yolo-overflow-removal-kokoro-reallocation.md
  agent/tasks/2026-02-17-eliminate-block-table.md
  agent/tasks/2026-02-21-nginx-proxy-timeout-split.md
  agent/tasks/2026-02-23-merge-collapse-skip-outliner.md
  agent/tasks/2026-02-24-billing-edge-cases.md
Due: none

re-enable Stack Auth seed script in prod
  .env.prod
Due: none

cleanup
  .gitignore
  video/demo-content.md
Due: none

commit remaining task files
  agent/tasks/2026-02-02-postgres-volume-migration.md
  agent/tasks/2026-02-08-stack-auth-update.md
  agent/tasks/2026-02-11-overflow-tuning-jemalloc-worker-memory.md
  agent/tasks/2026-02-16-lifetime-engagement-stats.md
  agent/tasks/2026-02-17-remotion-product-trailer.md
  agent/tasks/2026-02-17-twitter-tweet-extraction.md
  agent/tasks/2026-02-20-pervasive-function-timing.md
  agent/tasks/2026-02-21-content-security-policy.md
  agent/tasks/2026-02-21-docker-network-segmentation.md
  agent/tasks/2026-02-23-hetzner-cloudflare-ip-allowlist.md
  agent/tasks/2026-02-26-frontend-perf-infra.md
  agent/tasks/frontend-performance-tracking.md
  agent/tasks/maintenance-page.md
  agent/tasks/stack-auth-upstream-blockers.md
Due: none

close 4 tasks: usage-log, csp-feb9, mobile-audio-artifacts, cloudflare-optimizations
  agent/tasks/2026-02-09-content-security-policy.md
  agent/tasks/cloudflare-optimizations.md
  agent/tasks/mobile-audio-artifacts.md
  agent/tasks/usage-log-transparency.md
Due: none

throttle clickhouse CPU to 0.5 cores
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix deploy script timeout when gateway config unchanged
  scripts/deploy.sh
Due: none

fix: eliminate 6GB chown layer bloat from worker Docker images
  docker-compose.prod.yml
  docker-compose.yml
  yapit/workers/kokoro/Dockerfile.cpu
  yapit/workers/kokoro/Dockerfile.gpu
  yapit/workers/yolo/Dockerfile.cpu
  yapit/workers/yolo/Dockerfile.gpu
Due: none

add maintenance page for upstream outages
  frontend/nginx.conf
  frontend/public/maintenance.html
Due: none

fix: mobile playback bugs — double-skip, auth cascade, position reset
  frontend/src/api.tsx
  frontend/src/components/soundControl.tsx
  frontend/src/lib/playbackEngine.ts
Due: frontend-build

fix: iOS mobile bugs — outliner scroll, sidebar reorder
  frontend/src/components/playbackOverlay.tsx
  frontend/src/pages/PlaybackPage.tsx
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/api/v1/documents.py
Due: ty-check, frontend-build

revert maintenance page — proxy_intercept_errors swallows legitimate 502/503
  frontend/nginx.conf
  frontend/public/maintenance.html
Due: none

add project-level Claude Code permission allowlist
  .claude/settings.json
Due: none

update README.md
  README.md
Due: none

docker: migrate GPU workers from nvidia runtime to CDI
  docker-compose.worker.yml
Due: none

Update README
  README.md
Due: none

fix: add capabilities field to CDI device reservations for compose v5
  docker-compose.worker.yml
Due: none

add CF analytics + proxy diagnostics scripts, integrate into daily report
  agent/knowledge/infrastructure.md
  agent/knowledge/tts-flow.md
  agent/tasks/cloudflare-optimizations.md
  scripts/cf_analytics.py
  scripts/proxy_diagnostics.py
  scripts/report.sh
Due: none

fix: handle stale document schema gracefully instead of 500
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/ws.py
Due: ty-check

update .env.sops
  .env.sops
Due: none

benchmark Gemini 3.1 Flash Lite vs 3.0 Flash for extraction
  agent/tasks/2026-03-04-gemini-3.1-flash-lite-benchmark.md
  scripts/prompt_eval/run.py
  yapit/gateway/document/processors/gemini.py
Due: ty-check

consolidate ntfy topic + fix report.sh env loading
  .env.sops
  .env.template
  scripts/deploy.sh
  scripts/report.sh
Due: none

update gitignore
  .gitignore
Due: none

fix: close left sidebar sheet on mobile when navigating
  frontend/src/components/documentSidebar.tsx
Due: frontend-build

fix: smooth time display during playback with client-side interpolation
  frontend/src/components/soundControl.tsx
Due: frontend-build

fix: sidebar document ordering by last played + remove localStorage position storage
  frontend/src/components/playbackOverlay.tsx
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/pages/PlaybackPage.tsx
  frontend/src/pages/PrivacyPage.tsx
Due: frontend-build

update task files
  agent/tasks/2026-01-20-credit-pack-implementation.md
  agent/tasks/2026-02-17-remotion-product-trailer.md
  agent/tasks/2026-03-05-defuddle-website-extraction.md
  agent/tasks/maintenance-page.md
  agent/tasks/stack-auth-upstream-blockers.md
Due: none

feat: replace trafilatura with defuddle sidecar for website extraction
  .env.dev
  .env.prod
  .env.selfhost.example
  .github/workflows/deploy.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile.defuddle
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
  docker/defuddle/server.js
  pyproject.toml
  scripts/prompt_eval/run.py
  uv.lock
  yapit/gateway/api/v1/documents.py
  yapit/gateway/config.py
  yapit/gateway/document/defuddle.py
  yapit/gateway/document/website.py
Due: ty-check

bump defuddle 0.9.0, custom JSDOM, update task scope
  agent/tasks/2026-03-05-defuddle-website-extraction.md
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
  docker/defuddle/server.js
Due: none

feat: replace JSDOM sidecar with Playwright+defuddle browser injection
  .env.dev
  .env.prod
  .env.selfhost.example
  .github/workflows/deploy.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile.defuddle
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
  docker/defuddle/server.js
  scripts/prompt_eval/run.py
  yapit/gateway/Dockerfile
  yapit/gateway/api/v1/documents.py
  yapit/gateway/config.py
  yapit/gateway/document/defuddle.py
  yapit/gateway/document/playwright_renderer.py
  yapit/gateway/document/website.py
Due: ty-check

feat: replace markxiv with Playwright+defuddle for arXiv extraction
  .env.dev
  .env.prod
  .env.selfhost.example
  .github/workflows/deploy.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile.markxiv
  yapit/gateway/api/v1/documents.py
  yapit/gateway/config.py
  yapit/gateway/document/markxiv.py
  yapit/gateway/document/playwright_renderer.py
Due: ty-check

docs: update for Playwright+defuddle extraction, fix arxiv method log
  README.md
  agent/knowledge/document-processing.md
  agent/knowledge/security.md
  agent/tasks/2026-03-05-defuddle-website-extraction.md
  agent/tasks/2026-03-06-defuddle-arxiv-quality.md
  agent/tasks/2026-03-07-chromium-sandbox-hardening.md
  docs/architecture.md
  yapit/gateway/api/v1/documents.py
Due: ty-check

feat: replace trafilatura and markxiv with defuddle
  .env.dev
  .env.prod
  .env.selfhost.example
  .github/workflows/deploy.yml
  README.md
  agent/knowledge/document-processing.md
  agent/knowledge/security.md
  agent/tasks/2026-01-20-credit-pack-implementation.md
  agent/tasks/2026-02-17-remotion-product-trailer.md
  agent/tasks/2026-03-05-defuddle-website-extraction.md
  agent/tasks/2026-03-06-defuddle-arxiv-quality.md
  agent/tasks/2026-03-07-chromium-sandbox-hardening.md
  agent/tasks/maintenance-page.md
  agent/tasks/stack-auth-upstream-blockers.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile.markxiv
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
  docs/architecture.md
  pyproject.toml
  scripts/prompt_eval/run.py
  uv.lock
  yapit/gateway/Dockerfile
  yapit/gateway/api/v1/documents.py
  yapit/gateway/config.py
  yapit/gateway/document/markxiv.py
  yapit/gateway/document/playwright_renderer.py
  yapit/gateway/document/website.py
Due: ty-check

fix: smooth scroll on j/k single press, instant on key repeat
  frontend/src/components/playbackOverlay.tsx
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

fix: lower Inworld httpx timeout to prevent blocks hanging 60s
  yapit/workers/adapters/inworld.py
Due: none

fix: redis stubs broken by ty 0.0.21 module resolution rework
  yapit/gateway/markdown/transformer.py
  yapit/stubs/redis/__init__.pyi
  yapit/stubs/redis/asyncio/__init__.pyi
  yapit/stubs/redis/asyncio/client.pyi
  yapit/stubs/redis/exceptions.pyi
  yapit/stubs/redis/typing.pyi
Due: ty-check

fix: resolve 2 frontend eslint errors, disable react-refresh export warning
  frontend/eslint.config.js
  frontend/src/components/playbackOverlay.tsx
  frontend/src/components/soundControl.tsx
Due: frontend-build

feat: isolate Playwright/Chromium in dedicated defuddle container
  .env.dev
  .env.prod
  .env.selfhost.example
  .github/workflows/deploy.yml
  agent/tasks/2026-03-07-chromium-sandbox-hardening.md
  docker-compose.prod.yml
  docker-compose.yml
  docker/defuddle/Dockerfile
  docker/defuddle/app.py
  docker/defuddle/pyproject.toml
  pyproject.toml
  yapit/gateway/Dockerfile
  yapit/gateway/__init__.py
  yapit/gateway/config.py
  yapit/gateway/document/playwright_renderer.py
Due: ty-check

Path conditions:
  ty-check: any of: ^yapit/gateway/ and \.py$
  frontend-build: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
