Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type check
  entry: uvx ty@latest check yapit/gateway/
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

perf(frontend): stop caching decoded PCM, create TTS worker lazily
  frontend/src/hooks/usePlaybackEngine.ts
  frontend/src/lib/serverSynthesizer.ts
Due: frontend-build

fix(frontend): guard stale block audio, fail loud on bad durations
  frontend/src/hooks/usePlaybackEngine.ts
  frontend/src/lib/audio.ts
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
Due: frontend-build

fix(make): type-check the frontend for real in check-frontend
  Makefile
Due: none

fix(frontend): cancel superseded audio loads instead of skipping blocks
  frontend/src/lib/audio.ts
  frontend/src/lib/browserSynthesizer.ts
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
Due: frontend-build

feat(ws): send exact block duration, drop the word-timing estimate
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/serverSynthesizer.ts
  yapit/gateway/api/v1/ws.py
  yapit/gateway/result_consumer.py
  yapit/gateway/synthesis.py
Due: ty-check, frontend-build

perf(frontend): cache WAV bytes for browser voices, drop Web Audio
  frontend/src/hooks/usePlaybackEngine.ts
  frontend/src/lib/audio.ts
  frontend/src/lib/browserSynthesizer.ts
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/serverSynthesizer.ts
  frontend/src/lib/wav.ts
Due: frontend-build

fix(frontend): stop the document when the browser can't decode the audio
  frontend/package.json
  frontend/src/components/playbackOverlay.tsx
  frontend/src/components/soundControl.tsx
  frontend/src/lib/audio.ts
  frontend/src/lib/browserTTS/types.ts
  frontend/src/lib/browserTTS/useBrowserTTS.ts
  frontend/src/lib/browserTTS/worker.ts
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/wav.test.ts
Due: frontend-build

fix(frontend): expose overlay callbacks via useImperativeHandle
  frontend/src/components/playbackOverlay.tsx
Due: frontend-build

fix(kokoro): route synthesis through per-language G2P pipelines
  agent/knowledge/licensing.md
  tests/integration/test_tts.py
  yapit/workers/kokoro/adapter.py
  yapit/workers/kokoro/pyproject.cpu.toml
  yapit/workers/kokoro/pyproject.gpu.toml
Due: none

feat(gateway): env-gate per-IP rate limiting, off in dev/CI
  .env.dev
  .env.prod
  .env.selfhost.example
  tests/yapit/gateway/api/conftest.py
  yapit/gateway/__init__.py
  yapit/gateway/config.py
Due: ty-check

fix(kokoro): split CJK sentences to avoid 510-phoneme truncation; review fixes
  CHANGELOG.md
  docker-compose.dev.yml
  tests/integration/test_tts.py
  tests/yapit/gateway/api/conftest.py
  yapit/workers/kokoro/adapter.py
Due: none

fix(gateway): invalidate stale non-English kokoro audio
  yapit/gateway/migrations/versions/c7d8e9f0a1b2_invalidate_stale_non_english_kokoro_audio.py
  yapit/gateway/seed.py
Due: ty-check

feat(gateway): voice previews speak the voice's own language
  tests/yapit/gateway/api/test_models.py
  yapit/gateway/api/v1/models.py
  yapit/gateway/cache.py
  yapit/gateway/preview_sentences.py
  yapit/gateway/warm_cache.py
Due: ty-check

chore: review nits + changelog
  CHANGELOG.md
  tests/integration/test_tts.py
  yapit/workers/kokoro/adapter.py
Due: none

Fix make self-host: arm64 builds and fresh-DB seeding
  yapit/gateway/Dockerfile
  yapit/gateway/seed.py
  yapit/workers/kokoro/Dockerfile.cpu
Due: ty-check

seed: correct seed_database docstring for per-tier plan seeding
  yapit/gateway/seed.py
Due: ty-check

env: address yapit-prod by tailnet IP for the external workers
  .env.sops
Due: none

chore(deps): update defuddle 0.19.2 → 0.19.3
  CHANGELOG.md
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

feat: carry a source URL with uploaded HTML
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/types.py
Due: ty-check

review: validate the source URL as an http(s) URL
  docs/architecture.md
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/api/v1/documents.py
Due: ty-check

review: give "may the gateway fetch this" one home
  tests/yapit/gateway/api/test_documents.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/types.py
Due: ty-check

alerts: deliver by email instead of ntfy
  .env.template
  agent/knowledge/metrics.md
  agent/knowledge/vps-setup.md
  scripts/dep-scout.sh
  scripts/deploy.sh
  scripts/report.sh
  scripts/sync-cf-firewall.sh
Due: none

alerts: review fixes — failure-only deploys, CRLF, documented ALERT_* keys
  .env.template
  scripts/dep-scout.sh
  scripts/deploy.sh
  scripts/report.sh
  scripts/sync-cf-firewall.sh
Due: none

deploy: mail on success again
  scripts/deploy.sh
Due: none

observability: cf ro tok now acessible in .env for health-check agent's scripts to work even when prod env not materialized
  .env.sops
Due: none

documents: bound the metadata fields that reached users as 500s
  scripts/disk-usage.sh
  tests/yapit/gateway/api/test_documents.py
  yapit/contracts.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/domain_models.py
Due: ty-check

tts: stop idle background tabs looping WebSocket reconnects
  frontend/src/hooks/usePlaybackEngine.ts
  frontend/src/hooks/useTTSWebSocket.ts
Due: frontend-build

docs: drop the dev-mac reference from dev-setup
  agent/knowledge/dev-setup.md
Due: none

redis: detect peers that vanish without closing the connection
  yapit/gateway/__init__.py
  yapit/gateway/api_tts_dispatcher.py
  yapit/gateway/redis_client.py
  yapit/gateway/warm_cache.py
Due: ty-check

tasks: park Redis dead-connection detection pending an observed case
  agent/tasks/redis-dead-connection-detection.md
Due: none

metrics: heartbeat from the writer replaces log-correlation in the freshness check
  agent/knowledge/metrics.md
  scripts/metrics_freshness.py
  scripts/report.sh
  tests/yapit/gateway/test_metrics_writer.py
  yapit/gateway/metrics.py
Due: ty-check

deps: Chromium 153 for defuddle, supported Go and Alpine for smokescreen
  docker/Dockerfile.smokescreen
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

metrics: keep flush-time stamps; name the heartbeat interval instead of restating it
  agent/knowledge/metrics.md
  scripts/metrics_freshness.py
  scripts/report.sh
  yapit/gateway/metrics.py
Due: ty-check

metrics: drop the flush-time stamping comment
  yapit/gateway/metrics.py
Due: ty-check

changelog: unreleased entries for the security bumps, heartbeat and August fixes
  CHANGELOG.md
Due: none

Release v0.4.4
  CHANGELOG.md
Due: none

cache: cover the size sum with an index instead of scanning every blob
  tests/yapit/gateway/test_cache.py
  yapit/gateway/cache.py
Due: ty-check

cache: drop the query-plan test
  tests/yapit/gateway/test_cache.py
Due: none

cache: state the layout rule without the narration; changelog entry
  CHANGELOG.md
  yapit/gateway/cache.py
Due: ty-check

Release v0.4.5
  CHANGELOG.md
Due: none

Path conditions:
  ty-check: any of: ^yapit/gateway/ and \.py$
  frontend-build: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
