Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type check
  entry: uvx ty@latest check yapit/gateway/
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

openai api key for testing
  .env.sops
Due: none

update .gitignore
  .gitignore
Due: none

update roadmap
  README.md
Due: none

fix: transcode error handling + bump Opus bitrate to 96kbps
  yapit/workers/adapters/openai_tts.py
Due: none

docs: update tts-flow knowledge with OpenAI TTS adapter
  agent/knowledge/tts-flow.md
Due: none

feat: enable image upload support for AI extraction
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
Due: ty-check

fix: extract CSV-to-DuckDB conversion to script, fix quote detection
  Makefile
  scripts/csv_to_duckdb.py
Due: none

feat: run report agent in clankr container
  scripts/report-profile/CLAUDE.md
  scripts/report-profile/init
  scripts/report-profile/settings.json
  scripts/report.sh
Due: none

feat: enable image upload support for AI extraction (#75)
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/processors/openai_compat.py
Due: ty-check

fix: review fixes for OpenAI TTS adapter
  frontend/src/lib/voiceSelection.ts
  yapit/gateway/__init__.py
  yapit/workers/adapters/openai_tts.py
Due: ty-check, frontend-build

feat: OpenAI-compatible TTS adapter (#74)
  .env.selfhost.example
  .env.sops
  .gitignore
  CLAUDE.md
  README.md
  agent/knowledge/tts-flow.md
  agent/tasks/2026-03-22-openai-compatible-tts.md
  frontend/src/components/soundControl.tsx
  frontend/src/components/voicePicker.tsx
  frontend/src/hooks/useInworldVoices.ts
  frontend/src/hooks/usePremiumModel.ts
  frontend/src/lib/voiceSelection.ts
  pyproject.toml
  uv.lock
  yapit/gateway/Dockerfile
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/models.py
  yapit/gateway/config.py
  yapit/gateway/seed.py
  yapit/workers/adapters/openai_tts.py
Due: ty-check, frontend-build

feat: add bionic reading mode
  frontend/src/components/inlineContent.test.tsx
  frontend/src/components/inlineContent.tsx
  frontend/src/components/settingsDialog.tsx
  frontend/src/components/structuredDocument.test.tsx
  frontend/src/hooks/useSettings.tsx
Due: frontend-build

fix: use real bionic reading fixation lookup table
  frontend/src/components/inlineContent.test.tsx
  frontend/src/components/inlineContent.tsx
Due: frontend-build

fix: handle hyphens and pure numbers in bionic reading
  frontend/src/components/inlineContent.test.tsx
  frontend/src/components/inlineContent.tsx
Due: frontend-build

fix: use medium intensity (level 3) for bionic reading
  frontend/src/components/inlineContent.test.tsx
  frontend/src/components/inlineContent.tsx
Due: frontend-build

feat: bionic reading mode (#76)
  frontend/src/components/inlineContent.test.tsx
  frontend/src/components/inlineContent.tsx
  frontend/src/components/settingsDialog.tsx
  frontend/src/components/structuredDocument.test.tsx
  frontend/src/hooks/useSettings.tsx
Due: frontend-build

fix: show readable fallback for broken images in dark mode
  frontend/src/components/structuredDocument.tsx
Due: frontend-build

feat: configurable extraction prompt
  frontend/src/hooks/useUserPreferences.tsx
  frontend/src/pages/AccountPage.tsx
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/document/figures.py
  yapit/gateway/document/orchestration.py
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/types.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/cc337b77ee6e_add_extraction_prompt_to_userpreferences.py
Due: ty-check, frontend-build

fix: widen prompt hash to 16 chars, migrate ty: ignore syntax
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/metrics.py
  yapit/gateway/seed.py
  yapit/gateway/usage.py
  yapit/gateway/warm_cache.py
Due: ty-check

fix: extraction prompt save validation and error handling
  frontend/src/hooks/useUserPreferences.tsx
  frontend/src/pages/AccountPage.tsx
  yapit/gateway/api/v1/users.py
Due: ty-check, frontend-build

refactor: extract _hash_prompt helper for prompt cache key
  yapit/gateway/api/v1/documents.py
Due: ty-check

feat: custom extraction prompt (#77)
  frontend/src/hooks/useUserPreferences.tsx
  frontend/src/pages/AccountPage.tsx
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/document/figures.py
  yapit/gateway/document/orchestration.py
  yapit/gateway/document/processors/base.py
  yapit/gateway/document/processors/gemini.py
  yapit/gateway/document/types.py
  yapit/gateway/domain_models.py
  yapit/gateway/metrics.py
  yapit/gateway/migrations/versions/cc337b77ee6e_add_extraction_prompt_to_userpreferences.py
  yapit/gateway/seed.py
  yapit/gateway/usage.py
  yapit/gateway/warm_cache.py
Due: ty-check, frontend-build

fix: drop legacy grace period columns from UserSubscription
  agent/tasks/2026-03-10-phase2-drop-grace-columns.md
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/86c4c0dd6eeb_drop_legacy_grace_columns.py
Due: ty-check

mark tasks done
  agent/tasks/2026-02-12-epub-support.md
  agent/tasks/2026-03-20-defuddle-callout-mapping.md
  agent/tasks/2026-03-22-openai-compatible-tts.md
  agent/tasks/2026-03-22-red-team-security-audit-v3.md
Due: none

fix: cached pages label — singular form, hide for custom prompts
  frontend/src/components/metadataBanner.tsx
  frontend/src/components/unifiedInput.tsx
Due: frontend-build

feat: word-level highlighting during Kokoro TTS playback
  frontend/src/components/playbackOverlay.tsx
  frontend/src/index.css
  frontend/src/lib/audio.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/serverSynthesizer.ts
  frontend/src/lib/wordHighlight.ts
  yapit/contracts.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/cache_persister.py
  yapit/gateway/result_consumer.py
  yapit/workers/adapters/base.py
  yapit/workers/adapters/kokoro.py
  yapit/workers/handlers/runpod.py
  yapit/workers/tts_loop.py
Due: ty-check, frontend-build

remove: RunPod overflow system
  .env.dev
  .env.prod
  .env.selfhost.example
  .env.sops
  .env.template
  .github/workflows/deploy.yml
  CLAUDE.md
  Makefile
  README.md
  agent/knowledge/infrastructure.md
  agent/knowledge/logging.md
  agent/knowledge/metrics.md
  agent/knowledge/tts-flow.md
  dashboard/__init__.py
  dashboard/tabs/__init__.py
  dashboard/tabs/overflow.py
  docs/architecture.md
  frontend/src/pages/PrivacyPage.tsx
  pyproject.toml
  scripts/margin_calculator.py
  scripts/report.sh
  scripts/stress_test_yolo.py
  tests/integration/test_tts.py
  uv.lock
  yapit/gateway/__init__.py
  yapit/gateway/config.py
  yapit/gateway/overflow_scanner.py
  yapit/workers/handlers/__init__.py
  yapit/workers/handlers/runpod.py
  yapit/workers/handlers/yolo_runpod.py
  yapit/workers/kokoro/pyproject.cpu.toml
  yapit/workers/yolo/pyproject.cpu.toml
Due: ty-check, frontend-build

wording
  frontend/src/pages/AccountPage.tsx
Due: frontend-build

Remove RunPod overflow system (#79)
  .env.dev
  .env.prod
  .env.selfhost.example
  .env.sops
  .env.template
  .github/workflows/deploy.yml
  CLAUDE.md
  Makefile
  README.md
  agent/knowledge/infrastructure.md
  agent/knowledge/logging.md
  agent/knowledge/metrics.md
  agent/knowledge/tts-flow.md
  dashboard/__init__.py
  dashboard/tabs/__init__.py
  dashboard/tabs/overflow.py
  docs/architecture.md
  frontend/src/pages/PrivacyPage.tsx
  pyproject.toml
  scripts/margin_calculator.py
  scripts/report.sh
  scripts/stress_test_yolo.py
  tests/integration/test_tts.py
  uv.lock
  yapit/gateway/__init__.py
  yapit/gateway/config.py
  yapit/gateway/overflow_scanner.py
  yapit/workers/handlers/__init__.py
  yapit/workers/handlers/runpod.py
  yapit/workers/handlers/yolo_runpod.py
  yapit/workers/kokoro/pyproject.cpu.toml
  yapit/workers/yolo/pyproject.cpu.toml
Due: ty-check, frontend-build

chore: bump defuddle 0.14.0 → 0.15.0
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

fix: use env var for ClickHouse password in base compose
  docker-compose.yml
Due: none

fix: don't show AI transform as available when no processor configured
  frontend/src/components/metadataBanner.tsx
  yapit/gateway/api/v1/documents.py
Due: ty-check, frontend-build

restructure selfhost example env based on relevance, add explanatory comments
  .env.selfhost.example
  README.md
Due: none

fix: use Alembic for self-hosted schema migrations
  .env.dev
  .env.prod
  .env.selfhost.example
  agent/knowledge/infrastructure.md
  tests/yapit/gateway/api/conftest.py
  yapit/gateway/config.py
  yapit/gateway/db.py
  yapit/gateway/migrations/versions/a7b8c9d0e1f2_selfhost_schema_baseline.py
Due: ty-check

fix: don't auto-enable batch mode when processor doesn't support it
  frontend/src/components/metadataBanner.tsx
Due: frontend-build

fix: hide duplicate alt text caption on broken images
  frontend/src/components/structuredDocument.tsx
Due: frontend-build

chore: add release infrastructure and initial changelog
  CHANGELOG.md
  Makefile
Due: none

fix: address PR review feedback
  Makefile
  README.md
  frontend/src/components/documentSidebar.tsx
  frontend/src/hooks/useTTSWebSocket.ts
  yapit/gateway/__init__.py
Due: ty-check, frontend-build

fix: selfhost user UX + type ignore migration
  frontend/src/components/documentSidebar.tsx
  frontend/src/pages/AccountPage.tsx
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/users.py
Due: ty-check, frontend-build

Path conditions:
  ty-check: any of: ^yapit/gateway/ and \.py$
  frontend-build: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
