Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

ty-check:
  name: ty type check
  entry: uvx ty@latest check yapit/gateway/
  language: system
  pass_filenames: false

frontend-build:
  name: frontend build
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

feat: dark mode with warm palette, theme toggle, CSS cleanup
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/documentSidebar.tsx
  frontend/src/components/settingsDialog.tsx
  frontend/src/components/soundControl.tsx
  frontend/src/components/structuredDocument.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/webGPUWarningBanner.tsx
  frontend/src/hooks/useSettings.tsx
  frontend/src/index.css
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

fix: block-level yap-show with blank lines eating rest of document
  tests/yapit/gateway/markdown/test_parser_v2.py
  yapit/gateway/markdown/transformer.py
Due: ty-check

wip: dark mode palette exploration (warm v2, forest, dusk tried)
  frontend/src/index.css
Due: none

fix: outliner collapse state lost when switching documents
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

fix: actually fix outliner state corruption on document switch
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

feat: dark theme selector with 3 themes (warm gray, dusk, mocha)
  frontend/index.html
  frontend/src/components/settingsDialog.tsx
  frontend/src/hooks/useSettings.tsx
  frontend/src/index.css
Due: frontend-build

fix: rename themes (charcoal/dusk/lavender), fix cached block visibility
  frontend/src/components/settingsDialog.tsx
  frontend/src/hooks/useSettings.tsx
  frontend/src/index.css
Due: frontend-build

Dark mode with 3 theme variants + theme selector (#71)
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/documentSidebar.tsx
  frontend/src/components/settingsDialog.tsx
  frontend/src/components/soundControl.tsx
  frontend/src/components/structuredDocument.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/webGPUWarningBanner.tsx
  frontend/src/hooks/useSettings.tsx
  frontend/src/index.css
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

feat: expandable usage breakdown on subscription page
  agent/tasks/2026-02-16-lifetime-engagement-stats.md
  frontend/src/components/UsageBreakdown.tsx
  frontend/src/pages/SubscriptionPage.tsx
  yapit/gateway/api/v1/users.py
  yapit/gateway/result_consumer.py
  yapit/gateway/usage.py
Due: ty-check, frontend-build

fix: Stack Auth account pages stuck in dark mode after theme toggle
  frontend/src/index.css
Due: none

fix: ToS/Privacy/Impressum legal audit
  agent/tasks/2026-07-ai-act-tts-watermarking.md
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/pages/TermsPage.tsx
Due: frontend-build

fix: evict all pending synthesis on cursor jump
  .env.dev
  .env.prod
  .env.selfhost.example
  frontend/src/lib/playbackEngine.ts
  yapit/gateway/api/v1/ws.py
  yapit/gateway/config.py
Due: ty-check, frontend-build

test: update eviction tests for evict-all behavior
  tests/integration/test_eviction.py
Due: none

fix: voice picker snapping back to previous local/cloud state on voice select
  frontend/src/components/voicePicker.tsx
Due: frontend-build

fix: dark mode contrast — switch thumbs, audio highlights, borders
  frontend/src/components/ui/switch.tsx
  frontend/src/index.css
Due: frontend-build

feat: account page overhaul — persistent engagement stats, settings reorg
  frontend/src/components/settingsDialog.tsx
  frontend/src/pages/AccountPage.tsx
  yapit/gateway/api/v1/users.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/ecbda4b1f4a5_add_user_voice_stats_table.py
  yapit/gateway/result_consumer.py
  yapit/gateway/usage.py
Due: ty-check, frontend-build

fix: upgrade transformers.js to v4 to fix WebGPU buffer validation errors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/browserTTS/worker.ts
Due: frontend-build

fix: browser TTS queue eviction on cursor jump
  frontend/src/lib/browserSynthesizer.ts
  frontend/src/lib/browserTTS/types.ts
  frontend/src/lib/browserTTS/worker.ts
Due: frontend-build

feat: split result consumer into hot/cold paths to fix pool starvation
  agent/knowledge/tts-flow.md
  agent/tasks/2026-02-19-result-consumer-billing-split.md
  yapit/contracts.py
  yapit/gateway/__init__.py
  yapit/gateway/billing_consumer.py
  yapit/gateway/result_consumer.py
Due: ty-check

fix: progress bar retains cached state after audio buffer eviction
  frontend/src/lib/playbackEngine.ts
Due: frontend-build

feat: batch billing consumer, dashboard panel, monitoring updates
  agent/knowledge/metrics.md
  agent/tasks/2026-02-19-result-consumer-billing-split.md
  agent/tasks/2026-02-20-cache-store-hot-path.md
  dashboard/tabs/tts.py
  scripts/report.sh
  yapit/gateway/billing_consumer.py
  yapit/gateway/result_consumer.py
  yapit/gateway/usage.py
  yapit/stubs/redis/asyncio/client.pyi
Due: ty-check

feat: Redis-first audio caching, batched SQLite persistence
  agent/tasks/2026-02-20-cache-store-hot-path.md
  yapit/contracts.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/audio.py
  yapit/gateway/billing_consumer.py
  yapit/gateway/cache.py
  yapit/gateway/cache_persister.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/35603300197f_drop_blockvariant_cache_ref_column.py
  yapit/gateway/result_consumer.py
  yapit/gateway/synthesis.py
  yapit/stubs/redis/asyncio/client.pyi
Due: ty-check

fix: add error handling to cache persister, update tts-flow knowledge
  agent/knowledge/tts-flow.md
  agent/tasks/2026-02-20-cache-store-hot-path.md
  yapit/gateway/cache_persister.py
Due: ty-check

feat: Remotion trailer — scenes, capture pipeline, voice generation
  scripts/capture_trailer.py
  scripts/capture_trailer_frames.py
  scripts/generate_voice_clips.py
  video/.gitignore
  video/.prettierrc
  video/README.md
  video/eslint.config.mjs
  video/package-lock.json
  video/package.json
  video/remotion.config.ts
  video/src/Root.tsx
  video/src/YapitTrailer.tsx
  video/src/components/DeviceFrame.tsx
  video/src/components/ZoomCrop.tsx
  video/src/config.ts
  video/src/fonts.ts
  video/src/index.ts
  video/src/scenes/AppClipScene.tsx
  video/src/scenes/CardFanScene.tsx
  video/src/scenes/ClipScene.tsx
  video/src/scenes/DarkModeScene.tsx
  video/src/scenes/EndCard.tsx
  video/src/scenes/HookScene.tsx
  video/src/scenes/VoiceCycleA.tsx
  video/src/styles/app.css
  video/tsconfig.json
Due: none

fix: use cache.exists() instead of retrieve_data() for cache hit check
  yapit/gateway/synthesis.py
Due: ty-check

feat: api_rate_limit metric on 429s, remove dead WS cursor/eviction code
  agent/tasks/2026-02-18-observability-gaps.md
  dashboard/tabs/reliability.py
  frontend/src/lib/serverSynthesizer.ts
  scripts/report.sh
  tests/integration/conftest.py
  tests/integration/test_eviction.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/document/processors/gemini.py
  yapit/workers/adapters/inworld.py
Due: ty-check, frontend-build

docs: rewrite architecture.md — trim implementation detail, update diagrams
  docs/architecture.md
  video/capture_trailer.py
  video/generate_voice_clips.py
Due: none

fix: playback engine recovers from per-block synthesis failures
  agent/tasks/2026-02-20-multi-image-paragraph-tts-failure.md
  frontend/src/components/soundControl.tsx
  frontend/src/hooks/usePlaybackEngine.ts
  frontend/src/lib/browserSynthesizer.ts
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/serverSynthesizer.ts
  frontend/src/lib/synthesizer.ts
  frontend/src/pages/PlaybackPage.tsx
  yapit/gateway/api/v1/ws.py
Due: ty-check, frontend-build

update about page
  frontend/src/pages/AboutPage.tsx
Due: frontend-build

feat: trailer v4 — restructured scenes, Makefile, language wall
  agent/tasks/2026-02-17-remotion-product-trailer.md
  video/Makefile
  video/capture_trailer.py
  video/demo-content.md
  video/generate_voice_clips.py
  video/src/Root.tsx
  video/src/YapitTrailer.tsx
  video/src/scenes/AppClipScene.tsx
  video/src/scenes/CardFanScene.tsx
  video/src/scenes/EndCard.tsx
  video/src/scenes/LanguageWallScene.tsx
  video/src/scenes/VoiceCycleA.tsx
Due: none

fix: route Playwright through Smokescreen SSRF proxy
  yapit/gateway/document/playwright_renderer.py
Due: ty-check

fix: remove synthesis_mode billing bypass — billing check now unconditional
  agent/tasks/2026-02-21-remove-synthesis-mode-billing-bypass.md
  frontend/src/lib/serverSynthesizer.ts
  scripts/stress_test.py
  tests/integration/conftest.py
  tests/integration/test_tts.py
  tests/integration/test_tts_billing.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/synthesis.py
Due: ty-check, frontend-build

feat: trailer polish — bg music, screenshots, 170+ voices
  video/.gitignore
  video/public/clips/cards/article.png
  video/public/clips/cards/blog.png
  video/public/clips/cards/book.png
  video/public/clips/cards/news.png
  video/public/clips/cards/paper.png
  video/public/clips/darkmode-1.png
  video/public/clips/darkmode-2.png
  video/public/clips/darkmode-3.png
  video/public/clips/meta.json
  video/src/YapitTrailer.tsx
  video/src/scenes/LanguageWallScene.tsx
Due: none

feat: HMAC-signed anonymous sessions
  .env.dev
  .env.prod
  .env.selfhost.example
  .env.template
  agent/tasks/2026-02-21-anonymous-session-hmac.md
  frontend/src/api.tsx
  frontend/src/hooks/useTTSWebSocket.ts
  frontend/src/lib/anonymousId.ts
  yapit/gateway/api/v1/users.py
  yapit/gateway/auth.py
  yapit/gateway/config.py
Due: ty-check, frontend-build

remove dead admin panel page and route [skip tests]
  frontend/src/pages/AdminPanelPage.tsx
  frontend/src/routes/AppRoutes.tsx
Due: frontend-build

fix: restrict Stack Auth dashboard to Tailscale network
  docker-compose.prod.yml
Due: none

sec: remove svix secret, add referrerPolicy, hide nginx version
  .env.dev
  frontend/nginx.conf
  frontend/src/components/inlineContent.tsx
Due: frontend-build

much security
  .env.prod
  .env.sops
Due: none

fix: auto-renew anonymous session on secret rotation
  frontend/src/api.tsx
  frontend/src/lib/anonymousId.ts
Due: frontend-build

feat: add 48 Inworld voices, cache pinning, voice picker search
  agent/tasks/2026-02-21-inworld-voices-cache-pinning.md
  frontend/src/components/voicePicker.tsx
  yapit/data/inworld/voices.json
  yapit/gateway/__init__.py
  yapit/gateway/cache.py
  yapit/gateway/seed.py
  yapit/gateway/warm_cache.py
Due: ty-check, frontend-build

Path conditions:
  ty-check: any of: ^yapit/gateway/ and \.py$
  frontend-build: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
