Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      # lint
      - id: ruff
        types_or: [ python ]
        language: python
      # format
      - id: ruff-format
        types_or: [ python ]

  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty@latest check yapit/gateway/
        language: system
        files: ^yapit/gateway/
        types_or: [python]
        pass_filenames: false
      - id: frontend-build
        name: frontend build
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

fix: replace Traefik IP allowlist with Cloudflare Access for Stack Auth dashboard
  agent/knowledge/vps-setup.md
  docker-compose.prod.yml
Due: none

feat: auto-normalize voice clip loudness to -20 LUFS
  video/generate_voice_clips.py
Due: none

chore: warm-cache target, pinning tests, knowledge update [skip tests]
  CLAUDE.md
  Makefile
  agent/knowledge/inworld-tts.md
  agent/tasks/2026-01-18-inworld-temperature-setting.md
  agent/tasks/2026-01-21-inworld-tts-1.5-upgrade.md
  agent/tasks/2026-02-21-inworld-voices-cache-pinning.md
  agent/tasks/inworld-api-evaluation.md
  agent/tasks/inworld-frontend-integration.md
  tests/yapit/gateway/test_cache.py
Due: none

chore: use CLAUDE_CODE_SIMPLE for report agent, clean up prompt
  scripts/report.sh
Due: none

fix: pin @stackframe/react to exact version to prevent accidental upgrades
  frontend/package.json
Due: none

fix: remove api.yapit.md subdomain, route all API traffic through nginx
  .env.sops
  agent/knowledge/stripe-integration.md
  agent/knowledge/vps-setup.md
  agent/tasks/2026-02-21-consolidate-api-subdomain.md
  docker-compose.prod.yml
  scripts/deploy.sh
  scripts/stripe_setup.py
Due: none

fix: accurate warming counters, tmux-based warm-cache target
  Makefile
  yapit/gateway/warm_cache.py
Due: ty-check

fix: clearer warm-cache pin reporting, knowledge update
  Makefile
  agent/knowledge/inworld-tts.md
  yapit/gateway/warm_cache.py
Due: ty-check

fix: per-endpoint rate limiting, fix broken client IP resolution
  frontend/nginx.conf
  frontend/src/components/unifiedInput.tsx
  yapit/gateway/Dockerfile
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/audio.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/rate_limit.py
Due: ty-check, frontend-build

security: run all containers as non-root, drop capabilities
  docker-compose.prod.yml
  docker-compose.selfhost.yml
  docker-compose.worker.yml
  docker-compose.yml
  docker/Dockerfile.markxiv
  docker/Dockerfile.smokescreen
  docker/Dockerfile.stackauth
  frontend/Dockerfile
  frontend/nginx.conf
  yapit/gateway/Dockerfile
  yapit/workers/kokoro/Dockerfile.cpu
  yapit/workers/kokoro/Dockerfile.gpu
  yapit/workers/yolo/Dockerfile.cpu
  yapit/workers/yolo/Dockerfile.gpu
Due: none

fix: use UV_INSTALL_DIR for uv install
  yapit/workers/kokoro/Dockerfile.gpu
  yapit/workers/yolo/Dockerfile.gpu
Due: none

fix: use COPY --from for uv in GPU Dockerfiles
  yapit/workers/kokoro/Dockerfile.gpu
  yapit/workers/yolo/Dockerfile.gpu
Due: none

video: clean up dead scenes, consolidate card assets
  video/.gitignore
  video/Makefile
  video/capture_trailer.py
  video/package.json
  video/public/clips/cards/article.png
  video/public/clips/cards/book.png
  video/public/clips/cards/card-1.png
  video/public/clips/cards/card-2.png
  video/public/clips/cards/card-3.png
  video/public/clips/cards/card-4.png
  video/public/clips/cards/card-5.png
  video/public/clips/cards/news.png
  video/src/components/DeviceFrame.tsx
  video/src/components/ZoomCrop.tsx
  video/src/scenes/AppClipScene.tsx
  video/src/scenes/CardFanScene.tsx
  video/src/scenes/DarkModeScene.tsx
  video/src/scenes/HookScene.tsx
Due: none

fix: CI integration tests — chown bind mounts for non-root, fix log collection
  .github/workflows/deploy.yml
Due: none

feat: tips page — getting started, extraction prompt, FAQ
  frontend/src/components/webGPUWarningBanner.tsx
  frontend/src/pages/TipsPage.tsx
  frontend/vite.config.ts
Due: frontend-build

video: remove boilerplate README, sync lockfile
  video/README.md
  video/package-lock.json
Due: none

add Cloudflare IP sync script for Hetzner Cloud Firewall
  scripts/sync-cf-firewall.sh
Due: none

distill: security hardening, TTS hot/cold/persist split, dark mode, voice expansion
  agent/knowledge/ci.md
  agent/knowledge/dependency-updates.md
  agent/knowledge/dev-setup.md
  agent/knowledge/features.md
  agent/knowledge/frontend.md
  agent/knowledge/infrastructure.md
  agent/knowledge/metrics.md
  agent/knowledge/security.md
  agent/knowledge/stripe-integration.md
  agent/knowledge/tts-flow.md
  agent/knowledge/vps-setup.md
  agent/tasks/2026-01-20-external-gpu-worker-setup.md
  agent/tasks/2026-01-24-design-audit.md
  agent/tasks/2026-02-03-extraction-eval-pipeline.md
  agent/tasks/2026-02-04-public-architecture-docs.md
  agent/tasks/2026-02-05-stress-test-script-fixes.md
  agent/tasks/2026-02-09-readme-rewrite.md
  agent/tasks/2026-02-09-remotion-video.md
  agent/tasks/2026-02-10-frontend-content-playback-ux-tracking.md
  agent/tasks/2026-02-17-metrics-logging-audit.md
  agent/tasks/2026-02-18-observability-gaps.md
  agent/tasks/2026-02-19-result-consumer-billing-split.md
  agent/tasks/2026-02-21-anonymous-session-hmac.md
  agent/tasks/2026-02-21-consolidate-api-subdomain.md
  agent/tasks/2026-02-21-endpoint-rate-limiting.md
  agent/tasks/2026-02-21-non-root-containers.md
  agent/tasks/2026-02-21-red-team-security-audit.md
  agent/tasks/2026-02-21-stack-auth-dashboard-ip-restrict.md
  agent/tasks/2026-02-22-authenticated-origin-pulls.md
  agent/tasks/kokoro-thread-replica-tuning.md
  agent/tasks/model-specific-chunking.md
  agent/tasks/soft-launch-blockers.md
Due: none

fix: split nginx proxy timeouts, offload CPU work from event loop
  agent/tasks/2026-02-21-nginx-proxy-timeout-split.md
  frontend/nginx.conf
  frontend/src/hooks/useTTSWebSocket.ts
  yapit/gateway/Dockerfile
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/markxiv.py
  yapit/gateway/document/processing.py
  yapit/gateway/document/website.py
Due: ty-check, frontend-build

fix: serve extraction prompt via API instead of raw import
  frontend/src/pages/TipsPage.tsx
  yapit/gateway/__init__.py
Due: ty-check, frontend-build

update README
  CLAUDE.md
  README.md
Due: none

fix: voice picker unstar reads stale pinned list via closure
  frontend/src/hooks/useUserPreferences.tsx
Due: frontend-build

fix: recover playback when cursor is on a skipped block
  frontend/src/lib/playbackEngine.ts
Due: frontend-build

fix: use break-words instead of break-all for document titles
  frontend/src/components/structuredDocument.tsx
Due: frontend-build

fix: add white background to images in dark mode for transparent PNGs/SVGs [skip tests]
  frontend/src/components/structuredDocument.css
Due: none

fix: subscription renewal period advancement + billing sync drift detection
  tests/yapit/gateway/api/test_billing_ordering.py
  tests/yapit/gateway/api/test_billing_sync.py
  tests/yapit/gateway/api/test_billing_webhook.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/billing_sync.py
Due: ty-check

fix: switch dev/selfhost bind mounts to named volumes for non-root containers
  .env.dev
  .env.selfhost.example
  .github/workflows/deploy.yml
  .gitignore
  Makefile
  agent/knowledge/ci.md
  dashboard/data.py
  docker-compose.dev.yml
  docker-compose.selfhost.yml
  scripts/report.sh
  tests/yapit/gateway/api/conftest.py
Due: none

feat: split footnotes into own outliner section
  frontend/src/lib/filterVisibleBlocks.ts
  frontend/src/lib/sectionIndex.ts
Due: frontend-build

refactor: merge section collapse/skip, fix playbar layout
  agent/tasks/2026-02-23-merge-collapse-skip-outliner.md
  frontend/src/components/documentOutliner.tsx
  frontend/src/components/outlinerSidebar.tsx
  frontend/src/components/soundControl.tsx
  frontend/src/components/structuredDocument.tsx
  frontend/src/hooks/useFilteredPlayback.ts
  frontend/src/hooks/usePlaybackEngine.ts
  frontend/src/hooks/useProgressBarInteraction.ts
  frontend/src/lib/filterVisibleBlocks.test.ts
  frontend/src/lib/filterVisibleBlocks.ts
  frontend/src/pages/PlaybackPage.tsx
Due: frontend-build

fix: lower smooth progress bar threshold from 200 to 100 blocks
  frontend/src/components/soundControl.tsx
Due: frontend-build

fix: disable local TTS on devices that can't run it
  frontend/src/components/soundControl.tsx
  frontend/src/components/voicePicker.tsx
  frontend/src/components/webGPUWarningBanner.tsx
  frontend/src/hooks/useCanUseLocalTTS.ts
Due: frontend-build

fix: Safari mobile — hide volume slider, prevent search zoom
  frontend/src/components/soundControl.tsx
  frontend/src/components/voicePicker.tsx
Due: frontend-build

feat: route arxiv URLs through document path for free/AI transform choice
  scripts/prompt_eval/run.py
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/website.py
Due: ty-check

fix: billing edge cases — past_due access, webhook freshness, grace rollover, proration revert
  tests/yapit/gateway/api/test_billing_handlers_matrix.py
  tests/yapit/gateway/api/test_billing_ordering.py
  tests/yapit/gateway/api/test_billing_sync.py
  tests/yapit/gateway/api/test_billing_webhook.py
  tests/yapit/gateway/api/test_usage.py
  yapit/gateway/api/v1/billing.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/billing_ops.py
  yapit/gateway/billing_sync.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/823d6d2ea60a_add_previous_plan_id_to_usersubscription.py
  yapit/gateway/usage.py
Due: ty-check

fix: split math block yap-speak text to enforce block size limits
  tests/yapit/gateway/markdown/test_ast_chunks.py
  yapit/gateway/document/processing.py
  yapit/gateway/markdown/transformer.py
Due: ty-check

fix: log which fields drifted in billing sync corrections
  yapit/gateway/billing_sync.py
Due: ty-check

fix: voice picker tooltips/popovers not tappable on mobile
  frontend/src/components/voicePicker.tsx
Due: frontend-build

fix: session-scoped test app — unit tests 120s → 15s
  CLAUDE.md
  Makefile
  agent/knowledge/dev-setup.md
  pyproject.toml
  tests/conftest.py
  tests/yapit/gateway/api/conftest.py
  tests/yapit/gateway/api/test_billing_endpoints.py
  tests/yapit/gateway/api/test_billing_webhook.py
  tests/yapit/gateway/api/test_usage.py
  uv.lock
Due: none

disable overflow
  .env.sops
Due: none

feat: migrate billing consumer to Redis Streams with idempotent billing
  tests/yapit/gateway/api/test_billing_consumer.py
  yapit/contracts.py
  yapit/gateway/billing_consumer.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/cbe49087b51f_add_event_id_to_usagelog_for_billing_.py
  yapit/gateway/result_consumer.py
  yapit/gateway/usage.py
  yapit/stubs/redis/asyncio/client.pyi
Due: ty-check
