Repository yapit-tts/yapit: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, frontend-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      # lint
      - id: ruff
        types_or: [ python ]
        language: python
      # format
      - id: ruff-format
        types_or: [ python ]

  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty@latest check yapit/gateway/
        language: system
        files: ^yapit/gateway/
        types_or: [python]
        pass_filenames: false
      - id: frontend-build
        name: frontend build
        entry: bash -c 'cd frontend && npm run build'
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

feat: make Stack Auth + ClickHouse optional for selfhost
  .env.selfhost.example
  Makefile
  docker-compose.selfhost.yml
  docker-compose.yml
  frontend/.env.selfhost
  frontend/.env.selfhost.auth
  frontend/nginx.selfhost.conf
  frontend/src/App.tsx
  frontend/src/api.tsx
  frontend/src/auth.ts
  frontend/src/components/documentSidebar.tsx
  frontend/src/hooks/useAuthUser.tsx
  frontend/src/hooks/useDocuments.tsx
  frontend/src/hooks/useSubscription.tsx
  frontend/src/hooks/useTTSWebSocket.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/AccountPage.tsx
  frontend/src/routes/AppRoutes.tsx
  tests/yapit/gateway/api/conftest.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/auth.py
  yapit/gateway/config.py
  yapit/gateway/metrics.py
Due: ty-check, frontend-build

bump ruff pre commit version
  .pre-commit-config.yaml
Due: none

docs: add changelog entry for optional Stack Auth
  CHANGELOG.md
Due: none

fix: selfhost nginx handles auth mode, error boundary for misconfigured auth
  frontend/nginx.selfhost.conf
  frontend/src/App.tsx
Due: frontend-build

fix: dev compose profiles, selfhost auth SDK URL through nginx
  Makefile
  frontend/.env.selfhost.auth
Due: none

fix: nginx proxy_pass with variable requires rewrite to strip prefix
  frontend/nginx.selfhost.conf
Due: none

refactor: replace stack_auth_enabled property with explicit AUTH_ENABLED env var
  .env.dev
  .env.prod
  .env.selfhost.example
  README.md
  tests/yapit/gateway/api/conftest.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/auth.py
  yapit/gateway/config.py
Due: ty-check

feat: make Stack Auth + ClickHouse optional for selfhost (#80)
  .env.dev
  .env.prod
  .env.selfhost.example
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  docker-compose.selfhost.yml
  docker-compose.yml
  frontend/.env.selfhost
  frontend/.env.selfhost.auth
  frontend/nginx.selfhost.conf
  frontend/src/App.tsx
  frontend/src/api.tsx
  frontend/src/auth.ts
  frontend/src/components/documentSidebar.tsx
  frontend/src/hooks/useAuthUser.tsx
  frontend/src/hooks/useDocuments.tsx
  frontend/src/hooks/useSubscription.tsx
  frontend/src/hooks/useTTSWebSocket.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/AccountPage.tsx
  frontend/src/routes/AppRoutes.tsx
  tests/yapit/gateway/api/conftest.py
  yapit/gateway/__init__.py
  yapit/gateway/api/v1/users.py
  yapit/gateway/auth.py
  yapit/gateway/config.py
  yapit/gateway/metrics.py
Due: ty-check, frontend-build

Release v0.2.0
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

fix: use bash for Makefile (here-string in release targets)
  Makefile
Due: none

distill: selfhost overhaul, OpenAI backends, EPUB, dead link cleanup
  agent/knowledge/auth.md
  agent/knowledge/dependency-updates.md
  agent/knowledge/document-processing.md
  agent/knowledge/features.md
  agent/knowledge/frontend.md
  agent/knowledge/guest-users.md
  agent/knowledge/infrastructure.md
  agent/knowledge/metrics.md
  agent/knowledge/migrations.md
  agent/knowledge/security.md
  agent/knowledge/stack-auth.md
  agent/knowledge/stripe-integration.md
Due: none

log 5xx errors to browser console for client-side visibility
  frontend/src/api.tsx
Due: frontend-build

fix: bump defuddle playwright 1.52→1.59.1, overhaul dep-scout
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
  scripts/dep-scout-profile/CLAUDE.md
  scripts/dep-scout.sh
Due: none

ci: bump all actions to Node 24 variants, fix setup-uv params
  .github/workflows/deploy.yml
Due: none

feat: add Sentry error tracking (frontend + backend)
  .env.template
  frontend/.env.production
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.tsx
  frontend/src/instrument.ts
  frontend/src/main.tsx
  frontend/src/pages/PrivacyPage.tsx
  frontend/vite.config.ts
  pyproject.toml
  uv.lock
  yapit/gateway/__init__.py
Due: ty-check, frontend-build

fix: stop word tracking rAF loop when callback is cleared
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/wordHighlight.ts
Due: frontend-build

fix: use honest (Range | null)[] type instead of null! casts
  frontend/src/lib/wordHighlight.ts
Due: frontend-build

feat: word-level highlighting during Kokoro TTS playback (#78)
  frontend/src/components/playbackOverlay.tsx
  frontend/src/index.css
  frontend/src/lib/audio.ts
  frontend/src/lib/playbackEngine.ts
  frontend/src/lib/serverSynthesizer.ts
  frontend/src/lib/wordHighlight.ts
  yapit/contracts.py
  yapit/gateway/api/v1/ws.py
  yapit/gateway/cache_persister.py
  yapit/gateway/result_consumer.py
  yapit/workers/adapters/base.py
  yapit/workers/adapters/kokoro.py
  yapit/workers/tts_loop.py
Due: ty-check, frontend-build

fix: use Settings for backend DSN, restore console interceptor, add DSNs
  .env.prod
  .env.template
  frontend/.env.production
  frontend/src/api.tsx
  frontend/src/pages/PrivacyPage.tsx
  yapit/gateway/__init__.py
  yapit/gateway/config.py
Due: ty-check, frontend-build

fix: quota banner re-appearing after switching to free/local voice
  frontend/src/components/soundControl.tsx
Due: frontend-build

update defuddle contrib skill
  .claude/skills/defuddle-investigation/SKILL.md
Due: none

update report script
  scripts/report.sh
Due: none

fix: URL prepare racing format loading, bypassing AI transform selector
  frontend/src/components/unifiedInput.tsx
Due: frontend-build

fix: retry arxiv title fetch, reduce timeout, log errors
  yapit/gateway/api/v1/documents.py
Due: ty-check

update README
  README.md
Due: none

at least we can take the opportunity to add an afforable voice only plan
  scripts/margin_calculator.py
Due: none

remove Inworld TTS, add Voice plan, simplify pricing
  .env.dev
  .env.prod
  frontend/src/components/commandPalette.tsx
  frontend/src/components/documentSidebar.tsx
  frontend/src/components/soundControl.tsx
  frontend/src/components/unifiedInput.tsx
  frontend/src/components/voicePicker.tsx
  frontend/src/hooks/usePremiumModel.ts
  frontend/src/lib/voiceSelection.ts
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/CheckoutCancelPage.tsx
  frontend/src/pages/CheckoutSuccessPage.tsx
  frontend/src/pages/SubscriptionPage.tsx
  frontend/src/pages/TipsPage.tsx
  frontend/src/routes/AppRoutes.tsx
  scripts/stripe_setup.py
  yapit/data/inworld/voices.json
  yapit/gateway/__init__.py
  yapit/gateway/config.py
  yapit/gateway/db.py
  yapit/gateway/domain_models.py
  yapit/gateway/migrations/versions/b1c2d3e4f5a6_add_voice_plan_deactivate_premium.py
  yapit/gateway/seed.py
  yapit/workers/adapters/inworld.py
Due: ty-check, frontend-build

docs: remove all Inworld references, update changelog and docs
  .env.selfhost.example
  .env.sops
  .env.template
  CHANGELOG.md
  CLAUDE.md
  Makefile
  README.md
  agent/knowledge/features.md
  agent/knowledge/frontend.md
  agent/knowledge/inworld-tts.md
  agent/knowledge/logging.md
  agent/knowledge/metrics.md
  agent/knowledge/tts-flow.md
  dashboard/tabs/reliability.py
  dashboard/theme.py
  docs/architecture.md
  frontend/src/components/voicePicker.tsx
  frontend/src/hooks/useSubscription.tsx
  frontend/src/lib/playbackEngine.test.ts
  frontend/src/lib/voiceSelection.ts
  frontend/src/pages/PrivacyPage.tsx
  pyproject.toml
  scripts/billing_reconciliation.py
  scripts/margin_calculator.py
  scripts/report.sh
  scripts/stress_test.py
  tests/integration/test_tts.py
  yapit/gateway/warm_cache.py
  yapit/workers/tts_loop.py
Due: ty-check, frontend-build

rename localStorage key from yapit_inworld_selection
  frontend/src/lib/voiceSelection.ts
Due: frontend-build

begone
  tests/yapit/gateway/api/test_billing_consumer.py
Due: none

update defuddle skill
  .claude/settings.local.json
  .claude/skills/defuddle-investigation/SKILL.md
Due: none

bump defuddle 0.15.0 → 0.16.0
  docker/defuddle/package-lock.json
  docker/defuddle/package.json
Due: none

fix: empty PCM crashes Opus encoder, restore skip path for degenerate text
  tests/integration/test_tts.py
  yapit/contracts.py
  yapit/gateway/result_consumer.py
  yapit/workers/adapters/kokoro.py
  yapit/workers/tts_loop.py
Due: ty-check

fix: strip file extension when filename is used as document title fallback
  yapit/gateway/api/v1/documents.py
Due: ty-check

feat: support HTML file uploads and use browser-like UA for fetching
  docker/defuddle/app.js
  yapit/gateway/api/v1/documents.py
  yapit/gateway/document/defuddle_client.py
  yapit/gateway/document/http.py
  yapit/gateway/document/website.py
Due: ty-check

fix: don't reject HTML 404 responses, let defuddle/Playwright handle them
  yapit/gateway/document/http.py
Due: ty-check

fix: add missing headers to download mock in test
  tests/yapit/gateway/api/test_document_downloading.py
Due: none

ci: add per-service force_build input to workflow dispatch
  .github/workflows/deploy.yml
Due: none

ci: ignore paths-filter on workflow_dispatch, use force_build only [skip tests]
  .github/workflows/deploy.yml
Due: none
